/* HomeBottom.css */


/* Your existing CSS */

.movie-info,
.story-line {
  animation: slideIn 0.8s ease-in-out;
  
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styling for download URL */
.download-url {
  animation-delay: 0.3s; /* Adjust the delay as needed */
}

  .movie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 2px solid #3498db; /* Add border style */
    box-sizing: border-box; /* Include padding and border in width and height */
  }
  
  .movie-info:hover {
    transform: scale(1.05);
  }
  
  .highlighter {
    color: #3498db;
    
    margin-bottom: 10px;
    
  }
  
  .info {
    font-size: 22px;
    margin-bottom: 20px;
    color:#fff;
  }
  
  .story-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 2px solid #3498db; /* Add border style */
    box-sizing: border-box; /* Include padding and border in width and height */
    
  }
  .story-line:hover {
    transform: scale(1.05);
  }
  .story-head{
    
    color: #3498db;
  }
  .story-para{
    font-size: 22px;
    margin-bottom: 40px;
    font-weight:700;
    color: #fff;
  }
  .loading {
    font-size: 24px;
    color: #e74c3c;
  }
  
  @media only screen and (max-width: 768px) {
    .movie-info {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .movie-info {
      width: 95%;
    }
  }
  
  /* Add more media queries as needed for responsiveness */
  
  /* Animation for loading */
  .loading {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
 /* Add these styles to your CSS */
.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.Go-back-div {
    background-color: #3498db; /* Button color */
    border: none;
    border-radius: 5px;
    padding: 18px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
 
  .Go-back-child {
    color: #fff; /* Text color */
    font-size: 18px;
    margin: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .Go-back-div:hover {
    background-color: #0056b3; /* Hover color */
  }
  
  .Go-back-div:active {
    transform: scale(0.95); /* Click effect */
  }
  
  /* Add more animations if needed */
  